
    
   
   
  
  .barre{
        max-width: 100%;
        margin: 0;
        font-size: 17px;
      }
    
    

    .dropdown {
        margin-left:10px; /* Réglez cette valeur selon vos besoins */
      }
      

     
   .notification{
  
        margin-left: 5px;
      
      
   }
      
        
      
      