/* .departement-table{
    width: 40%;
    height: 50%;
    background-color: #F5F3F3;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.065);
    margin-top: -800px;
    margin-left: 400px;
    border-radius:3px ;
    padding: 20px;
    min-height: 71vh;

   
}
.tb{
margin-left: 2px;
}

.addButton{
    text-decoration: none;
    background-color: #4E73DF;
    color: white;
    font-weight: 500;
    box-shadow: 0px 2px 8px ;
    border:3px;
    padding: 5px;
    margin-left: 438px;
    display: flex;
    justify-content: center;
    margin-top: 5px;
    border-radius: 5px;

    




}

.departement-table table{
    width:100%;
    margin-top: 30px;
    border-collapse: collapse;
}

.departement-table table thread th{
    background-color:#E7E7E7;
    color: black;
    padding: 10px;
    width: 40%;
    text-align: center;
    min-width: 10vh;
    

}

.departement-table table tbody td{
    padding: 10px;
    text-align:start;
    min-width: 10vh;


}

.actionButtons button{
    border: 0;
    outline: none;
    background: #F6C23E;
    padding: 8px 10px;
    color:white;
    border-radius: 5px;
    cursor: pointer;
}

.actionButtons link{
    background: green;
    padding: 6px 10px;
    color: white;
    border-radius: 5px;
    margin:0 10px;
    text-decoration: none;



} */

 /*.crud-container{
    /* display: flex;
    justify-content: center; */
    /* align-items: center; */
    /* margin: 50px; */
   /* margin-left: 350px;*/
    /* margin-bottom: 100px; */
   /* margin-top: 150px;*/
   /* width: 50%;*


.text{
    text-align: center;
    margin-top: 25px;

 
   
   
}
.text1{
    text-align: center;
    
}

.text2{
    text-align: center;
 
}



.ed{
    background-color:#28a745;
    margin-left:50px; 
    border: none;
    padding: 3px;
    color: white;
    border-radius: 5px;
    width: 25%;
    margin-left: 30px;
    font-size: 14px;
 
    
    
}

.de{
    background-color: #dc3545;
    margin-right: 20px;
    border: none;
    padding: 5px;
    color: white;
    border-radius: 5px;
    width: 31%;
    margin-left:12px; 
    margin-right: 10px;

   



}

.sho{
    background-color: #ffc107;
    border: none;
  padding: 5px;
  color: white;
  width: 10%;
  border-radius: 5px;

 

}

.aj{

    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    width: 10%;
    display: flex;
    justify-content: flex-end;

}*/
  
/*.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    width: 94vh;
    margin-left: 350px;
    text-align: center;
    position: relative;
  
  }

  .aj{

    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    width:72%;
    display: flex;
    justify-content: flex-end;
  

    
}

.de{
    background-color: #dc3545;
    margin-right: 20px;
    border: none;
    padding: 5px;
    color: white;
    border-radius: 5px;
    width: 35%;
    margin-left:12px; 
    margin-right: 10px;

   



}

.ed{
    background-color:#28a745;
    margin-left:50px; 
    border: none;
    padding: 3px;
    color: white;
    border-radius: 5px;
    width: 29%;
    margin-left: 30px;
    font-size: 14px;
 
    
    
}

.sho{
    border: none;
    padding: 3px;
    color: white;
    font-size: 14px;
    width: 20%;
    border-radius: 5px;

}*/

.table-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 210px; /* Ajoute un espace en haut du tableau */
    margin-bottom: 30px; /* Ajoute un espace en bas du tableau */
    position: relative;

  }
  
  .table-container {
    max-width: 31%; /* ajustez cette valeur selon votre préférence */
    margin: auto;
    margin-right: 30%;

  }
  
  .th {
    text-align: center;
  }

 /*.add-button{
    display: 'flex';
    justify-Content:center;
    align-items: 'center';
    position: absolute;
    top: 20;
    margin-right:-650px;
    margin-top: -45px;
    
   }*/
   .pagination {
    position: absolute;
    bottom: -8px; /* Ajustez la position verticale selon vos besoins */
    left: 64.7%; /* Centre la pagination horizontalement */
    transform: translateX(-50%); /* Ajuste le centrage */
   
}

.su{
    color:white;
    font-size:16px;
}
.sh{
    color: white;
    font-size:16px;
  
}
.mo{
    color: white;
    font-size:16px;
}
.test {
   margin-left: 1230%;
   margin-bottom: 400%;

  }



  
  
  