

/*!**/

/*.btn{*/
/*  background-color:primary;*/
/*  border-radius: 10px;*/
/*  cursor: pointer;*/
/*  margin-top:80px;*/
/*  margin-left: -30px;*/
/*  margin-right: -20px;*/
/*  width: 280px;*/
/*  border: none;*/
/*  text-align: center;*/
/*  font-size: 16px;*/
/*  display: flex;*/
/*  justify-content: center;*/
/*}*/


/*.body{*/
/*  display:flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*  min-height: 71vh;*/
/*  background-color:#F5F3F3;*/
/*  height: 100px; */
/*  width: 390px;*/
/*  border-color: black;*/
/*  margin: auto;*/
/*  max-width:auto;*/
/*  margin-top:-830px;*/
/*  position: relative;*/


/*}*/

/*.input{*/
/*  margin-top: 40px;*/
/*  margin-left: -60px;*/
/*  margin-right: -20px;*/

/*}*/

/*.pass{*/
/*  margin-top: 12px;*/
/*  margin-left:-60px;*/
/*  margin-right: -20px;*/
/*}*/

/*.forpass{*/
/*display: flex;*/
/*justify-content: flex-end;*/
/*margin-top: -25px;*/
/*margin-left:-65px;*/
/*margin-right: -65px;*/
/*}*/

/*.rem{*/
/*  display:flex ;*/
/*justify-content: flex-start;*/
/*  margin-top: 10px;*/
/*  margin-left:-60px;*/
/*  margin-right: -20px;*/

/*}*/
/* *!*/
/*.form-container{*/
/*  display: flex;*/
/*  justify-content:center;*/
/*  align-items: center;*/
/*  height: 50vh;*/
/*  width: 100%;*/
/*  */



/*}*/
/*.form{*/
/* */
/*  border: 1px solid #000000;*/
/*  padding: 20px;*/
/*  !* padding-top: 50PX;*/
/*  margin: 50px;*/
/*  padding-bottom: 50PX; *!*/
/*  height: 70vh;*/
/*  margin-top: 250px;*/
/*  border-radius: 5px;*/
/*  background-color: #f9f9f9;*/
/*  max-width: 430px;*/
/*  width: 100%;*/

/*}*/
/*.form-content{*/
/*  margin-top: 108px;*/
/*  width: 120%;*/
/*}*/

/*.text{*/
/*  font-size: 37px;*/
/*  text-align: center;*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  position: absolute;*/
/*  */
/*  left: 50%;*/
/*  top:13%;*/
/*  transform: translateX(-50%);*/
/*  bottom: 100px;*/
/*  !*transform: translateY(25%);*!*/
/*  !* Exemple de style supplémentaire *!*/
/*  color: #000000; !* Exemple de style supplémentaire *!*/
/*}*/

/*.btn{*/
/*  position: absolute;*/
/*  display: flex; !* Place le bouton en bas du conteneur *!*/
/*  justify-content: end;*/
/*  margin-top: 30px;*/
/*  border-radius: 5px;*/
/*  margin-left: 0px;*/


/*  */

/*  */
/*}*/
/*.fp {*/
/*  display: flex;*/
/*  justify-content:flex-end ;*/
/*  margin-right: 70px;*/
/*  margin-top: -27px;*/
/*  margin-bottom:18px;*/
/*  */
/*}*/
/*  */

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120vh;
    padding: 50px;
}

.form {
    /*border: 1px solid #ccc;*/
    /*padding: 20px;*/
    /*border-radius: 5px;*/
    /*background-color: #f9f9f9;*/
    /*max-width: 400px;*/
    /*width: 100%;*/
    /*padding: 70px;*/



    border: 1px solid #000000;
    padding: 20px;
    padding-top: 100px;
    margin: 50px;
    padding-bottom: 50PX;
    /*height: 70vh;*/
    margin-bottom: 200px;
    border-radius: 5px;
    background-color: #f9f9f9;
    max-width: 430px;
    width: 100%;

}

.text{
    transform: translateY(-90%);
    display: flex;
    justify-content: center;
}
